@import url('./generic.css');
@import url('./class.css');
@import url('./media.css');

@font-face {
    font-family: 'Futura PT';
    src: url('../fonts/futura-pt/FuturaPT-Bold.eot');
    src: local('Futura PT Bold'), local('FuturaPT-Bold'),
        url('../fonts/futura-pt/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura-pt/FuturaPT-Bold.woff2') format('woff2'),
        url('../fonts/futura-pt/FuturaPT-Bold.woff') format('woff'),
        url('../fonts/futura-pt/FuturaPT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Futura PT Book';
    src: url('../fonts/futura-pt/FuturaPT-Book.eot');
    src: local('Futura PT Book'), local('FuturaPT-Book'),
        url('../fonts/futura-pt/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
        url('../fonts/futura-pt/FuturaPT-Book.woff2') format('woff2'),
        url('../fonts/futura-pt/FuturaPT-Book.woff') format('woff'),
        url('../fonts/futura-pt/FuturaPT-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
	--primari-color: #FFFFFF;
	--second-color: rgba(0,0,0,.9);
	--third-color: #2B3139;
	--four-color: #dfded8;
	--accent-color: #CC0000;
	--input-border-color: #a8a8a8;
	--comments-bg-color: #F7F7F7;
	--scroll-shadow-color: #d3d3d3;
	--menu-bg-color: rgba(0,0,0,.5);
	--menu-border-color: #616161;

	--primari-text-color: #232323;
	--second-text-color: #FFFFFF;
	--third-text-color: #c8b86c;
	--four-text-color: #333333;
	--accent-text-color: #CC0000;
	--input-text-color: #848484;
	--date-text-color: #909090;
	}

body {
	font-family: 'Libre Baskerville', serif;
	font-weight: 400;
	font-size: 16px;
	color: var(--primari-text-color);
	padding-top: 65px;
}